:root {
  --c-brand: rgba(32, 167, 238, 0.85);
  --c-brand-light: rgba(32, 167, 238, 0.64);
  scroll-behavior: smooth;
}

html.dark {
  --c-brand: rgba(32, 167, 238, 0.85);
  --c-brand-light: rgba(32, 167, 238, 0.64);
}
